#rect1{
  background-color: grey;
  width: 600px;
  height: 300px;
  margin-left: 26%;
  margin-top: 15%;
}
#carre1{
  background-color: red;
  width: 60px;
  height: 50px;
}
.bouton{
  text-align: center;
}
